<div class="leading-tight text-[0.8rem] font-sans uppercase font-normal [&_a]:font-medium [&_a]:hover:underline [&_a]:decoration-2 [&_a]:underline-offset-2 opacity-75 {{element_class}}" data-post-card-meta="bottom"> 
  {{!-- Authors --}}
  <div class="inline" data-post-card-authors>
    <span class="opacity-75 font-body font-medium lowercase italic">{{t "By"}}</span>
    {{#foreach authors}}{{#unless @first}}<span class="opacity-75 font-body font-medium lowercase italic">{{#if @last}} and{{else}},{{/if}}</span>{{/unless}}
      <a href="{{url}}">{{name}}</a>{{/foreach}}
  </div>

  {{!-- Date --}}
  <div class="inline" data-post-card-date>
    <span class="mx-1.5 text-brd-soft">/</span>
    <time class="opacity-75 font-medium whitespace-nowrap" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
  </div>
</div>